In [2]:
import pandas as pd

In [3]:
apple = pd.read_csv('./DataSet/AAPL.csv')
facebook = pd.read_csv('./DataSet/FB.csv')
google = pd.read_csv('./DataSet/GOOGL.csv')
nvidia = pd.read_csv('./DataSet/NVDA.csv')
tesla = pd.read_csv('./DataSet/TSLA.csv')
twitter = pd.read_csv('./DataSet/TWTR.csv')

In [4]:
apple.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.406782  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.385558   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.357260   26432000
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366103   21610400
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.376715   18362400

In [5]:
facebook.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200

In [6]:
google.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  50.050049  52.082081  48.028027  50.220219  50.220219  44659000
1  2004-08-20  50.555557  54.594593  50.300301  54.209209  54.209209  22834300
2  2004-08-23  55.430431  56.796795  54.579578  54.754753  54.754753  18256100
3  2004-08-24  55.675674  55.855854  51.836838  52.487488  52.487488  15247300
4  2004-08-25  52.532532  54.054054  51.991993  53.053055  53.053055   9188600

In [7]:
nvidia.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1999-01-22  1.750000  1.953125  1.552083  1.640625   1.509998  67867200.0
1  1999-01-25  1.770833  1.833333  1.640625  1.812500   1.668188  12762000.0
2  1999-01-26  1.833333  1.869792  1.645833  1.671875   1.538759   8580000.0
3  1999-01-27  1.677083  1.718750  1.583333  1.666667   1.533965   6109200.0
4  1999-01-28  1.666667  1.677083  1.651042  1.661458   1.529172   5688000.0

In [8]:
tesla.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [9]:
twitter.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,44.900002,117701600
1,2013-11-08,45.930000,46.939999,40.689999,41.650002,41.650002,27925300
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,42.900002,16113900
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,41.900002,6316700
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,42.599998,8688300

In [10]:
dfs = [ apple, facebook, google, nvidia, tesla, twitter ]
# this is for moving in the data frame itself by applying a for loop

In [11]:
for df in dfs:
    df["MA50"] = df.Close.rolling(50).mean
    df["MA200"] = df.Close.rolling(200).mean

In [14]:
apple.head(200)

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
...,...,...,...,...,...,...,...,...,...
195,1981-09-23,0.299107,0.299107,0.294643,0.294643,0.233457,7050400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
196,1981-09-24,0.294643,0.294643,0.292411,0.292411,0.231689,4575200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
197,1981-09-25,0.258929,0.258929,0.254464,0.254464,0.201622,8652000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
198,1981-09-28,0.256696,0.258929,0.256696,0.256696,0.203391,22932000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...
199,1981-09-29,0.270089,0.272321,0.270089,0.270089,0.214002,23671200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...

# Previous day close price

In [15]:
# Daily change regarding the close price
for df in dfs:
    df['Previous Day Close Price'] = df.Close.shift(1)

In [16]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054

# Change In Price

In [17]:
for df in dfs:
    df ['Change In Price'] = df['Close'] - df['Previous Day Close Price']

In [18]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price,Change In Price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393,-0.026786
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607,-0.035714
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893,0.011161
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054,0.013393

# Removing Columns (Extra one)

In [25]:
for df in dfs:
    # Option 1: Forward-fill NA values before calling pct_change
    df['Percent Change In Price'] = df.Close.ffill().pct_change()

    # Option 2: Specify fill_method=None in pct_change (if you don't want to fill NA values)
    # df['Percent Change In Price'] = df.Close.pct_change(fill_method=None)

In [32]:
for df in dfs:
    # Remove existing columns if they already exist
    if 'Prcent Change In Price' in df.columns:
        df.drop(columns=['Prcent Change In Price'], inplace=True)

In [34]:
for df in dfs:
    # Remove existing columns if they already exist
    if 'Prcent Change In Price' in df.columns:
        df.drop(columns=['Prcent Change In Price'], inplace=True)

In [36]:
for df in dfs:
    # Define the columns to drop
    cols_to_drop = ['Prcent Change in Price']
    
    # Drop the unwanted columns if they exist
    df.drop(columns=[col for col in cols_to_drop if col in df.columns], inplace=True)

In [37]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price,Change In Price,Percent Change In Price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393,-0.026786,-0.052174
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607,-0.035714,-0.073394
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893,0.011161,0.024752
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054,0.013393,0.028986

In [38]:
for df in dfs:
    df['Previous Day Volume'] = df.Volume.shift(1)

In [39]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price,Change In Price,Percent Change In Price,Previous Day Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393,-0.026786,-0.052174,117258400.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607,-0.035714,-0.073394,43971200.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893,0.011161,0.024752,26432000.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054,0.013393,0.028986,21610400.0

In [41]:
for df in dfs:
    df['Change in Volume'] = df['Volume'] - df['Previous Day Volume']

In [42]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price,Change In Price,Percent Change In Price,Previous Day Volume,Change in Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893,0.011161,0.024752,26432000.0,-4821600.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054,0.013393,0.028986,21610400.0,-3248000.0

In [43]:
for df in dfs:
    df['Percent Change in Volume'] = df.Volume.ffill().pct_change()

In [44]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous Day Close Price,Change In Price,Percent Change In Price,Previous Day Volume,Change in Volume,Percent Change in Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,<bound method Rolling.mean of Rolling [window=...,<bound method Rolling.mean of Rolling [window=...,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

In [45]:
apple.to_csv('Apple.csv')

In [46]:
facebook.to_csv('Facebook.csv')
google.to_csv('Google.csv')
nvidia.to_csv('Nvidia.csv')
tesla.to_csv('Tesla.csv')
twitter.to_csv('Twitter.csv')